.create-budget-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #f9fafb; 
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.create-budget-container:hover {
  transform: translateY(-5px);
}

.input-group {
  margin-bottom: 30px;
}

.input-group label {
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
  color: #333;
}

.input-group input,
.input-group .react-datepicker__input-container input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc; 
  border-radius: 10px;
  background-color: #fff; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
}

.input-group input:focus,
.input-group .react-datepicker__input-container input:focus {
  outline: none;
  border-color: #007bff; 
}

h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.create-button {
  background-color: #4caf50; 
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s, transform 0.2s;
}

.create-button:hover {
  background-color: #45a049; 
  transform: translateY(-2px);
}

.create-button:active {
  background-color: #4caf50; 
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 768px) {
  .create-budget-container {
    max-width: 90%;
    margin-top: 20px;
  }

  .input-group label {
    font-size: 16px;
  }

  .create-button {
    padding: 10px 20px;
    font-size: 16px;
  }
}
